<div class="modal-header">
  <h4 class="card-heading modal-header-short d-inline-block float-left mb-0 ml-2">Password Change</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xl-12">
      <label>New Password</label>
      <input type="text" class="form-control  mb-3" [(ngModel)]="newInfo.newPassword"
        [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <label>Confirm Password</label>
          <input type="text" class="form-control  mb-3" [(ngModel)]="newInfo.confirmPassword"
            [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <label style="color: red;" *ngIf="newInfo.newPassword && newInfo.confirmPassword && newInfo.newPassword != newInfo.confirmPassword">Password not match</label>
      <label style="color: green;" *ngIf="newInfo.newPassword && newInfo.confirmPassword && newInfo.newPassword == newInfo.confirmPassword">Password match</label>
    </div>
  </div>
  <div class="mt-4 text-right">
    <button class="btn btn-sm btn-gray" (click)="close();">Cancel</button>
    <button class="btn btn-sm btn-secondary" (click)="onSubmit();"
      [disabled]="!newInfo.newPassword || !newInfo.confirmPassword || newInfo.newPassword != newInfo.confirmPassword">Submit</button>
  </div>
</div>