.header-lower {
    margin-bottom: 0;
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 5;
    background: #283942;
    color: #ffffff;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-family: "Futura", Sans-serif;
    height: 120px;
}

.header-lower .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo-header-inner {
    float: left;
    height: auto;
    padding: 5px 5px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}


.box {
    background: #f5f5f5;
    padding: 1.0rem;
    border-radius: .25rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
    margin-top: 8%;
}