<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="./assets/img/brand/logo.png" class="navbar-brand-img" alt="alt">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/dashboard" class="nav-link">
                        <i class="fa fa-desktop"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/users" class="nav-link">
                        <i class="fa fa-users"></i> App Users
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/promoters" class="nav-link">
                        <i class="fa fa-users"></i> Promoters
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/category" class="nav-link">
                        <i class="fa fa-tasks"></i> Category
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/events" class="nav-link">
                        <i class="fa fa-calendar"></i> Approve Events
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/media-manager" class="nav-link">
                        <i class="fa fa-address-book"></i> Media Manager
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLinkActive="active" routerLink="/contact-us" class="nav-link">
                        <i class="fa fa-address-book"></i> Contact Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>