<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-header">
          <h3 class="d-inline-block">Promoter</h3>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-xl-6">
                  <label>Name</label>
                  <input type="text" class="form-control  mb-3" [(ngModel)]="newPromoter.fullName"
                    [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-xl-6">
                  <label>Email</label>
                  <input type="text" class="form-control  mb-3" [(ngModel)]="newPromoter.email"
                    [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <label>Channel Name</label>
                  <input type="text" class="form-control  mb-3" [(ngModel)]="newPromoter.channelName"
                    [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-xl-6" *ngIf="promoterId == null">
                  <label>Password</label>
                  <input type="text" class="form-control  mb-3" [(ngModel)]="newPromoter.password"
                    [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <label>Phone Number</label>
                  <input type="text" class="form-control  mb-3" [(ngModel)]="newPromoter.phoneNumber"
                    [ngModelOptions]="{standalone: true}" (keyup)="onKeyPressNumber($event);" (keypress)="onKeyPressNumber($event);"
                    (paste)="onKeyPressNumber($event);">
                </div>
                <div class="col-xl-6">
                  <label>Channel Category</label>
                  <select class="form-control mb-3" [(ngModel)]="newPromoter.channelCategory"
                    [ngModelOptions]="{standalone: true}">
                    <option value="" disabled>Select</option>
                    <option value="{{item._id}}" *ngFor="let item of categoryList;let i = index">
                      {{item.name}}</option>
                  </select> </div>
              </div>
              <div class="row">
                <div class="col-xl-6">
                  <label>Profile Image upload</label>
                  <input type="file" class="form-control  mb-3" (change)="selectFile($event)" accept="image/*">
                </div>
                <div class="col-xl-6" *ngIf="newPromoter.profileImage">
                  <img src="{{newPromoter.profileImage}}" class="image-circle" />
                </div>
              </div>
              <div class="text-right">
                <button [routerLink]="['/promoters']" class="btn btn-sm btn-gray" type="button">Cancel</button>
                <button class="btn btn-sm btn-secondary" type="submit" (click)="OnSubmit(newPromoter)"
                  [disabled]="!newPromoter.fullName || !newPromoter.email || !newPromoter.channelName || !newPromoter.phoneNumber || !newPromoter.channelCategory || (this.promoterId == null?!newPromoter.password:false)">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>