<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="card-header">
          <h3 class="d-inline-block">Category</h3>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-xl-6">
                  <label>Name</label>
                  <input type="text" class="form-control  mb-3" [(ngModel)]="newCategory.name" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="text-right">
                <button [routerLink]="['/category']" class="btn btn-sm btn-gray" type="button">Cancel</button>
                <button [disabled]='!newCategory.name' class="btn btn-sm btn-secondary" type="submit" (click)="onSubmit()">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>