<app-header></app-header>
<div class="container-fluid mb-4">
  <div class="row">
    <div class="col-xl-3 col-lg-6">
      <button class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                 Boxers
              </h5>
              <span class="h2 font-weight-bold mb-0">{{ boxerCount }}</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-success text-white rounded-circle shadow"
              >
                <i class="fas fa-users"></i>
              </div>
            </div>
          </div>
        </div>
      </button>
    </div>
    <div class="col-xl-3 col-lg-6">
      <button class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Promoters </h5>
              <span class="h2 font-weight-bold mb-0">{{ promoterCount }}</span>
            </div>
            <div class="col-auto">
              <div  class="icon icon-shape bg-info text-white rounded-circle shadow"  >
                <i class="fas fa-users"></i>
              </div>
            </div>
          </div>
        </div>
      </button>
    </div>
    <div class="col-xl-3 col-lg-6">
      <button class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                 Amateurs
              </h5>
              <span class="h2 font-weight-bold mb-0">{{ userCount }}</span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-danger text-white rounded-circle shadow"
              >
                <i class="fas fa-users"></i>
              </div>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
